{% extends 'base.html' %}

{% block header %}

  <body>
    <p>Predict a song's popularity:   </p>

    <form method='post' class="form">
      <label for="title">Song title:  </label> 
      <input name="title" id="title" required>
    </form>
    
  </body>
  


  <h1>Title</h1>


  
  
  <body>

    <article class="post">
      <header>
        <div>
          <h1>Test</h1>
          <div class="about">by me on now</div>
        </div>
      </header>
      <p class="body">helloooo</p>
    </article>

    
  </body>

  
{% endblock %}

