{% extends 'base.html' %}

{% block header %}

  <body>
    <p>Predict a song's popularity:   </p>

    <form method='post' class="form">
      <label for="title">Song title:  </label> 
      <input name="title" id="title" required>
    </form>
    
  </body>
  
  <h1>Previous predictions</h1>

  <body>

    <article class="post">
      <header>
        <div>
          <h1>Filler</h1>
          <div class="about">date posted</div>
        </div>
      </header>
      <p class="body">filler</p>
    </article>

    
  </body>

  
{% endblock %}

