{% extends 'base.html' %}

{% block header %}

  <body>
    <p>Predict a song's popularity: </p>

    <br/>
    <form method='POST'>
      {{ form.hidden_tag() }}

      {{ form.name.label}}
      {{ form.name() }}

      <br/>
      {{ form.submit() }}
    </form>

  </body>
  {% endblock %}

  {% block content %}

  <h1>Predictions</h1>

    {% for p in previous %}

      <body>

        <article class="post">
          <header>
            <div>
              <h1>{{ p['song'] }}</h1>
              <div class="about">{{ p['created'].strftime('%Y-%m-%d') }}</div>
            </div>
          </header>
          <p class="body">predicted: {{ p['pred'] }}</p>
          <p class="body">real: {{ p['realnum'] }}</p>
        </article>

        
      </body>

    {% endfor %}

  
{% endblock %}

